<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselectedtransp}">
        <span ng.show="$ctrl.optionselectedtransp">
            <i class="{{ $ctrl.optionselectedtransp.icon}}"></i>
        </span>
        {{ $ctrl.optionselectedtransp ? $ctrl.optionselectedtransp.name : 'Elegir transporte'}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-click="$ctrl.selectNone()">Ninguno</li>
        <li class="dropdown-divider"></li>
        <li class="transp" ng-class="{'selected-option': option === $ctrl.optionselectedtransp}" ng-repeat="option in $ctrl.traspOptions" ng-click="$ctrl.selectTransp(option)">
            <span>
                <i class="{{option.icon}}"></i>
            </span> {{ option.name }}</li>
    </ul>
</div>
<div class="dropdown" ng-show="$ctrl.optionselectedtransp.combOptions">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselectedcomb, 'error': ($ctrl.data.showError && !$ctrl.data.valido && !$ctrl.optionselectedcomb)}">
            {{ $ctrl.optionselectedcomb ? $ctrl.optionselectedcomb.name : 'Elegir combustible'}}
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
        <li ng-click="$ctrl.selectNoneComb()">Ninguno</li>
        <li class="dropdown-divider"></li>
        <li ng-class="{'selected-option': option === $ctrl.optionselectedcomb}" ng-repeat="option in $ctrl.optionselectedtransp.combOptions" ng-click="$ctrl.selectComb(option)">{{ option.name }}</li>
    </ul>
</div>
<div ng-show="$ctrl.optionselectedtransp" class="input-content">
    <div class="input-text">
        <input ng-class="{error: ($ctrl.data.showError && !$ctrl.data.valido && !$ctrl.recorrido)}" only-number type="number" ng-model="$ctrl.recorrido" min="0" required ng-change="$ctrl.compute()">
        <hr>
    </div>
    <div class="unit">
        (km)
    </div>
</div>
<i ng-show="$ctrl.data.showOther && $ctrl.optionselectedtransp" ng-click="$ctrl.addOther({selected: $ctrl.data})" class="arrow-icon-plus-circle" aria-hidden="true"></i>
<i ng-show="!$ctrl.data.showOther" ng-click="$ctrl.remove({toRemove: $ctrl.data})" class="arrow-icon-minus-circle" aria-hidden="true"></i>