<div style="overflow: auto;flex: 1 1 auto;position:relative;height:1px;" id="container" in-view-container>
    <navtop></navtop>
    <div sticky scrollable-watcher="#container" class="question-progress sticky">
        <div ng-class="{'active': $ctrl.activeHome}">
            <i class="icon-eco_casa"></i> Hogar
        </div>
        <div ng-class="{'active': $ctrl.activeResid}">
            <i class="icon-eco_basura"></i> Residuos
        </div>
        <div ng-class="{'active': $ctrl.activeTransp}">
            <i class="icon-eco_colectivo"></i> Transporte
        </div>
    </div>

    <div class="question-container">
        <div class="container-fluid main separator intro">
            <div class="row first">
                <div class="col-md-12">
                    La huella de carbono es una medida del impacto que provocan las actividades del hombre sobre el ambiente (a nivel individual, empresarial o territorial), en términos de la cantidad de emisiones de gases efecto invernadero (GEI) emitida a la atmósfera,
                    medida en unidades de dióxido de carbono equivalente (CO2eq).<br><br> A continuación, Ud. encontrará una serie de pasos a completar para calcular su huella de carbono individual. La huella individual se divide en
                    tres rubros: (i) emisiones que ocurren en el hogar como consecuencia del consumo de energía eléctrica, gas natural y agua, más la demanda de alimentos de su dieta y la cantidad de residuos generados y (ii) emisiones que ocurren fuera
                    del hogar asociadas al transporte para ir al trabajo o a estudiar, para actividades cotidianas y viajes de vacaciones o negocios, incluida la estadía en hotelería.<br><br> Para lograr una mayor precisión en la estimación de la huella
                    de carbono, se le pedirá, en primera instancia, completar los datos bimestrales de consumo de electricidad, gas y agua en base a los datos de las facturas de esos servicios. Si Ud. no cuenta con dicha información a mano, puede estimar
                    aproximadamente las emisiones asociadas a los tres consumos mencionados, por medio del cálculo alternativo que se le ofrece luego de la solicitud de los consumos bimestrales (paso 5, salteando los pasos 2, 3 y 4).<br><br> El resto
                    de los campos los puede completar con lo que recuerde de las prácticas que lleva a cabo en las distintas actividades.<br>

                </div>
            </div>
        </div>
    </div>


    <div class="question-container">
        <div class="container-fluid main separator">
            <div class="row first" in-view="$ctrl.homeInView($index, $inview, $inviewInfo)" in-view-options="{ generateParts: true }">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_personas"></i>
                    </div>
                    <div class="question-text">
                        1 - Cantidad de personas que comparten la vivienda
                    </div>
                    <div class="input-content">
                        <div class="input-text">
                            <input type="number" offset="250" scroll-if="$ctrl.highlightHabitantes" scrollable-watcher="#container" ng-class="{error: ($ctrl.showErrorHabitantes && !$ctrl.habitantes)}" only-number min="0" ng-model="$ctrl.habitantes" ng-change="$ctrl.setHabitantes()"
                                required>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row first ">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_electicidad"></i>
                    </div>
                    <div class="question-text">
                        2 - Consumo bimestral de electricidad
                        <div class="subtitle big"><button data-toggle="modal" data-target="#melectriciddad">Haga click aquí para saber cómo obtener la información de la factura; si no posee las facturas
continúe con el paso 5</button></div>

                        <div id="melectriciddad" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="icon-eco_electicidad"></i>
                                        <div class="title">Herramientas</div>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="text-aling: left;">
                                        <div class="subtitle">¿Dónde encuentro el dato en mi factura?</div>
                                        <div class="text">
                                            Le mostramos dónde puede encontrar esta información en las facturas de <a href="../../assets/img/fac_edenor.jpg" target="blank">Edenor</a> y <a href="../../assets/img/fac_edesur.jpg" target="blank">Edesur</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div ng-repeat="bimestre in $ctrl.electricidadBimestres track by $index" class="input-content col-md-4">
                            <div class="input-text">
                                <input type="number" only-number min="0" ng-model="bimestre.consumo" required>
                                <hr>
                            </div>
                            <div class="unit">
                                {{ $index + 1 }}° (Kwh)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row first ">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_gas"></i>
                    </div>
                    <div class="question-text">
                        3 - Consumo bimestral de gas
                        <div class="subtitle big"><button data-toggle="modal" data-target="#mgas">Haga click aquí para saber cómo obtener la información de la factura; si no posee las facturas
continúe con el paso 5</button></div>
                        <div id="mgas" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="icon-eco_gas"></i>
                                        <div class="title">Herramientas</div>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="text-aling: left;">
                                        <div class="subtitle">¿Dónde encuentro el dato en mi factura?</div>
                                        <div class="text">
                                            Le mostramos dónde puede encontrar esta información en las factura de <a href="../../assets/img/fac_metrogas.jpg" target="blank">Metrogas</a>.<br> Alternativamente, puede ver el detalle de la factura <a target="_blank"
                                                href="https://www.metrogas.com.ar/hogares/Paginas/entende-tu-factura.aspx">aquí</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-repeat="bimestre in $ctrl.gasBimestres track by $index" class="input-content col-md-4">
                            <div class="input-text">
                                <input type="number" only-number min="0" ng-model="bimestre.consumo" required>
                                <hr>
                            </div>
                            <div class="unit">
                                {{ $index + 1 }}° (m3)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row first ">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_agua_caliente"></i>
                    </div>
                    <div class="question-text">
                        4 - Consumo bimestral de agua
                        <div class="subtitle big"><button data-toggle="modal" data-target="#magua">Haga click aquí para saber cómo obtener la información de la factura; si no posee las facturas
continúe con el paso 5</button></div>
                        <div id="magua" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="icon-eco_agua_caliente"></i>
                                        <div class="title">Herramientas</div>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="text-aling: left;">
                                        <div class="subtitle">¿Dónde encuentro el dato en mi factura?</div>
                                        <div class="text">
                                            Le mostramos dónde puede encontrar esta información en las factura de <a href="../../assets/img/fac_aysa.png" target="blank">AySA</a>.<br> Alternativamente, puede ver el detalle de la factura <a target="_blank"
                                                href=" http://www.aysa.com.ar/index.php?id_seccion=678 ">aquí.</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div ng-repeat="bimestre in $ctrl.aguaBimestres track by $index" class="input-content col-md-4">
                            <div class="input-text">
                                <input type="number" only-number min="0" ng-model="bimestre.consumo" required>
                                <hr>
                            </div>
                            <div class="unit">
                                {{ $index + 1}}° (m3)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row first ">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_casa"></i>
                    </div>
                    <div class="question-text">
                        5 - Cálculo alternativo
                        <div class="subtitle">
                          Emisiones individuales del hogar
                        </div>
                        <div class="text">
                        Utilice esta opción cuando no tenga a mano los datos específicos obtenibles de las facturas de los servicios contratados en su hogar
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-content col-md-6">
                            <div class="calculo-alternativo">
                                <div class="dropdown" style="margin-left:0px !important;">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselecteddimension}">
                                          {{ $ctrl.optionselecteddimension ? $ctrl.optionselecteddimension.name : 'Dimensiones de la vivienda'}}
                                          <span class="caret"></span>
                                      </button>
                                    <ul class="dropdown-menu">
                                        <li ng-class="{'selected-option': option === $ctrl.optionselecteddimension}" ng-repeat="option in $ctrl.dimensionOptions" ng-click="$ctrl.selectDimension(option)">{{ option.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-content col-md-6">
                            <div class="calculo-alternativo">
                                <div class="dropdown" style="margin-left:0px !important;">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselectedeficiencia}">
                                          {{ $ctrl.optionselectedeficiencia ? $ctrl.optionselectedeficiencia.name : 'Nivel de eficiencia'}}
                                          <span class="caret"></span>
                                      </button>
                                    <ul class="dropdown-menu">
                                        <li ng-class="{'selected-option': option === $ctrl.optionselectedeficiencia}" ng-repeat="option in $ctrl.eficienciaOptions" ng-click="$ctrl.selectEficiencia(option)">{{ option.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_alimento"></i>
                    </div>
                    <div class="question-text">
                        6 - Dieta diaria de alimentos
                    </div>
                    <div class="dieta-container">
                        <div class="dropdown" style="margin-left:0px !important;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselecteddieta}">
                                    {{ $ctrl.optionselecteddieta ? $ctrl.optionselecteddieta.name : 'Elegir dieta'}}
                                    <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu">
                                <li ng-class="{'selected-option': option === $ctrl.optionselecteddieta}" ng-repeat="option in $ctrl.dietaOptions" ng-click="$ctrl.selectDieta(option)">{{ option.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main separator" in-view="$ctrl.residInView($index, $inview, $inviewInfo)" in-view-options="{ generateParts: true, offset: [-200,0,0,0] }">
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_basura"></i>
                    </div>
                    <div class="question-text">
                        7 - Cantidad de residuos generados
                        <div class="subtitle">Indique la cantidad de bolsas generadas por día y su peso</div>
                    </div>
                    <div class="bolsa-container">
                        <div class="input-content">
                            <div class="input-text">
                                <input type="number" only-number min="0" ng-model="$ctrl.residuos" required>
                                <hr>
                            </div>
                            <div class="unit">
                                (bolsas)
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-class="{'selected': $ctrl.optionselectedbolsa}">
                                {{ $ctrl.optionselectedbolsa ? $ctrl.optionselectedbolsa.name : 'Elegir peso'}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-class="{'selected-option': option === $ctrl.optionselectedbolsa}" ng-repeat="option in $ctrl.bolsasOptions" ng-click="$ctrl.selectBolsa(option)">{{ option.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main" in-view="$ctrl.transpInView($index, $inview, $inviewInfo)" in-view-options="{ generateParts: true, offset: [-300,0,0,0] }">
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_trabajo"></i>
                    </div>
                    <div class="question-text">
                        8 - Traslados al trabajo o estudio
                        <div class="subtitle">Tipos de transportes y distancias de su traslado diario al trabajo o estudio</div>
                        <div class="subtitle big"><button data-toggle="modal" data-target="#mtranslado">Para estimar distancias, haga click aquí</button></div>

                        <div id="mtranslado" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="icon-eco_colectivo"></i>
                                        <div class="title">Herramientas</div>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="text-aling: left;">
                                        <div class="subtitle">Calcular distancias</div>
                                        <div class="text">Para estimar distancias, haga click <a target="_blank" href="https://www.google.com.ar/maps">aquí.</a></div>
                                        <div class="subtitle">¿Cómo mido las distancias usando Google Maps?</div>
                                        <div class="text">
                                            Para medir las distancias, haga click con el botón derecho apoyando la flecha del mouse en el punto de partida; elija “medir distancias” en el menú de opciones que aparece y lleve la punta del mouse hasta el destino. Una vez marcada la distancia en línea
                                            recta, pare el mouse en la línea y haga desplazamientos para trazar el camino por las calles.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <transpselector data="commuting" add-other="$ctrl.addCommutingTransp(selected)" remove="$ctrl.removeCommutingTransp(toRemove)" ng-repeat="commuting in $ctrl.transpCommuting" scroll-if="commuting.highlight" scrollable-watcher="#container"></transpselector>
                </div>
            </div>
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_bailar"></i>
                    </div>
                    <div class="question-text">
                        9 - Traslados a otras actividades
                        <div class="subtitle">Tipos de transportes y distancias de su traslado diario a otras actividades</div>
                        <div class="subtitle big"><button data-toggle="modal" data-target="#mtranslado">Para estimar distancias, haga click aquí</button></div>
                    </div>
                    <transpselector data="actividad" add-other="$ctrl.addActividadTransp(selected)" remove="$ctrl.removeActividadTransp(toRemove)" ng-repeat="actividad in $ctrl.transpActividades" scroll-if="actividad.highlight" scrollable-watcher="#container"></transpselector>
                </div>
            </div>
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_avion"></i>
                    </div>
                    <div class="question-text">
                        10 - Viajes en avión realizados durante el año
                        <div class="subtitle">Tipos de vuelos, escalas y distancias recorridas por vuelo</div>
                        <div class="text big"><a target="_blank" href="http://www.distanciasentreciudades.com">Para calcular distancia del vuelo haga click aquí</a></div>
                    </div>
                    <avionselector data="vuelo" add-other="$ctrl.addViajeVuelo(selected)" remove="$ctrl.removeViajeVuelo(toRemove)" ng-repeat="vuelo in $ctrl.transpVuelos" scroll-if="vuelo.highlight" scrollable-watcher="#container"></avionselector>
                </div>
            </div>
            <div class="row first">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_turismo"></i>
                    </div>
                    <div class="question-text">
                        11 - Viajes en otros vehículos
                        <div class="subtitle">Tipo de transporte y distancias anuales recorridas</div>
                        <div class="subtitle big"><button data-toggle="modal" data-target="#mtranslado">Para estimar distancias, haga click aquí</button></div>
                    </div>
                    <transpselector data="viaje" add-other="$ctrl.addViajeTransp(selected)" remove="$ctrl.removeViajeTransp(toRemove)" ng-repeat="viaje in $ctrl.transpViajes" scroll-if="viaje.highlight" scrollable-watcher="#container"></transpselector>
                </div>
            </div>
            <div class="row first ">
                <div class="col-md-12">
                    <div class="question-icon">
                        <i class="icon-eco_hospedaje"></i>
                    </div>
                    <div class="question-text">
                        12 - Hospedaje en viajes
                        <div class="subtitle">Cantidad de noches</div>
                    </div>
                    <div class="input-content">
                        <div class="input-text">
                            <input type="number" only-number min="0" required ng-model="$ctrl.hospedaje">
                            <hr>
                        </div>
                        <div class="unit">
                            (noches)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-4">
    <div class="container-fluid calcular-btn-container" ng-click="$ctrl.calcular()">
        <div class="btn-calc"><a>Calculá tu huella ahora</a>
        </div>
    </div>
</footer>
